/* font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

/* colours */
:root {
  --palest: #F7FBFD;
  --pale: #EFF5F9;
  --mid: #AEBEC6;
  --base: #728C98;
  --shade: #4E86A5;
  --bright: #49C6FF;
  --glow: lighten(var(--bright), 10%);
}

/* variables */
html {
  font-size: 12px;
}

/* ----------------------------------------------------
                GIFT LOADER
----------------------------------------------------*/
body.loader-style {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
}

.loader-container {
  text-align: center;
}

.loader-circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Stack image and text vertically */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loader-circle .gift-img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.loader-text {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center;    /* Center the content vertically */
  margin-top: 10px;       /* Space between the image and the text */
}

p {
  font-size: 24px;
  color: #333;
  margin: 0; /* Space between the text and percentage */
}

.percentage-container {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin-left: 10px;
}

svg.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg); /* Rotate to start the animation from the top */
}
.circle-background {
  fill: none; /* Ensure no fill color */
  stroke: #ddd;
  stroke-width: 5;
}

.circle-progress {
  fill: none;
  stroke: #FF4191; /* Green color for the progress */
  stroke-width: 5;
  stroke-linecap: round;
  stroke-dasharray: 345; /* Circumference of the circle (2 * π * radius) */
  stroke-dashoffset: 345; /* Initially no progress */
  transition: stroke-dashoffset 0.2s linear;
}

#celebration-image {
  text-align: center;
}

#celebration-img {
  width: 300px;
  height: 300px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.reveal-celebration {
  animation: fadeIn 1.5s ease-out;
  opacity: 0;
}


/* ----------------------------------------------------
                MUSIC PLAYER
----------------------------------------------------*/

body.device {
  background: 
  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
  url('./images/alburm/51941.jpg') no-repeat center center fixed;
  background-size: cover;
  color: var(--base);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/* device styling, layout */
#device {
  border-radius: 2.4rem;
  box-shadow: 2rem 2rem 8rem rgba(var(--shade), 0.09), 1rem 1rem 4rem rgba(var(--shade), 0.09), inset 4rem 4rem 10rem rgba(var(--shade), 0.05);
  display: none;
  flex-direction: column;
  height: 60rem;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate3D(-50%,-50%,0);
  width:40rem;
}
#device.show {
  display: flex;  /* Show the music player */
}

.device__top {
  background: rgba(255,255,255,0.6);
  height: 35rem;
  overflow: hidden;
  position: relative;
}

.album-art {
  height: 100%;
  object-fit: cover;
  width: 100%;
  position: absolute;
  transform: translateY(100%);
}

.album-art.active {
  transform: translateY(0);
}

.device__mid {
  background: #fff;
  flex: 1;
}

/* information about current track, playlist etc. */
.info {
  display: flex;
  font-size: 0.9rem;
  padding: 2rem 3rem;
}

.info__right {
  display:none;
  flex: 1;
  text-align: right;
}

.info__song {
  font-weight: 700;
  height: 1.6rem;
  margin: 0;
  overflow: hidden;
  padding: 0 0 0.4rem;
  position: relative;
}

.song {
  display: block;
  position: absolute;
  transform: translateY(150%);
}

.song.active {
  transform: translateY(0);
}

.info__artist {
  font-size: 1rem;
  font-weight: 300;
  height: 1.2rem;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 12rem;
}

.artist {
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  transform: translateY(150%);
}

.artist.active {
  transform: translateY(0);
}

.info__type {
  color: var(--mid);
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0.4rem 0 0.3rem;
  padding: 0 0 0.3rem;
  text-transform: uppercase;
}

.info__type-name {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.device__bottom {
  background: #fff;
}



/* controls */
.controls {
  align-items: center;
  display: flex;
  justify-content: center;
}

.progress {
  height: 0.5rem;
  margin: 3rem 0 3.6rem;
  position: relative;
  cursor: pointer;
}

#play-button .pause {
  display: none;
}

#play-button .play {
  display: block;
}

#play-button.pause .pause {
  display: block;
}

#play-button.pause .play {
  display: none;
}

.controls__round-button {
  background: rgba(#fff, 0.5);
  border-radius: 10rem;
  box-shadow: 
    1rem 1rem 4rem rgba(78, 134, 165, 0.09), 
    0.5rem 0.5rem 2rem rgba(78, 134, 165, 0.09), 
    -0.5rem -1.5rem 2rem rgba(255, 255, 255, 1), 
    inset 1rem 1rem 2.3rem rgba(78, 134, 165, 0.05), 
    0px 0px 0.1rem #FFFFFF, 
    inset 0.1rem 0.1rem 0 #FFFFFF;
  height: 5rem;
  margin: 0 1rem 3rem;
  position: relative;
  transition: box-shadow 0.05s ease-in;
  width: 5rem;
}

.controls__round-button:active {
  * {
    fill: var(--bright);
    filter: drop-shadow(0 0 0.1rem rgba(var(--glow), 0.5));
  }
  box-shadow:
    1rem 1rem 4rem rgba(78, 134, 165, 0), 
    0 0.1rem 0.1rem rgba(78, 134, 165, 0.25), 
    -0.5rem -1.5rem 2rem rgba(255, 255, 255, 0), 
    inset 1rem 1rem 2.3rem rgba(78, 134, 165, 0.05), 
    0 0.1rem 0.1rem rgba(255,255,255,1), 
    inset 0.1rem -0.1rem 0 rgba(255,255,255,0);
}

.controls__round-button--large {
  height: 7.5rem;
  text-align: center;
  width: 7.5rem;
}

.controls__play {
  margin-left: 0.4rem;
}

.controls__round-button img {
  width: 30px; /* Adjust the size of the image */
  height: 30px;
  transition: all 0.3s ease;
}

@media (max-width: 768px) { /* Mobile devices */
  .device {
    width: 30rem;
    height: 50rem;
  }
}

@media (max-width: 480px) { /* Small phones */
  .device {
    width: 90%; /* Make it relative for small screens */
    height: 45rem;
  }
  .controls__round-button {
    height: 4rem;
    width: 4rem;

  }
}



/* button reset */
button {
  border: none;
  color: var(--base);
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #fff;
}

button:focus {
  outline: none;
}

button:active {
  /* No styles */
}

/* slider */
input[type=range] {
  background: #f0f0f0;
  border-radius: 3rem;
  height: 1rem;
  -webkit-appearance: none;
  margin: 0.1rem 3rem;
  width: calc(100% - 6rem);
  cursor: pointer;
}
